/*Cabecera header */

        .bg-vino-admin { background-color: #640D14; color: white; }
        .card-stats { border: none; border-radius: 10px }
        .nav-tabs .nav-link.active { color: #640D14; font-weight: bold; border-bottom: 3px solid #640D14; }
        .nav-tabs .nav-link { color: #6c757d; }


/* Transición suave para las tarjetas de estadísticas */
.card-stats {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Efecto al pasar el ratón (Hover) */
.card-stats:hover {
    transform: translateY(-8px); /* La tarjeta sube un poco */
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important; /* Sombra más profunda */
    border-color: rgba(100, 13, 20, 0.3); /* El borde se tiñe sutilmente de color vino */
}

/* Opcional: un efecto de pulsación cuando haces clic */
.card-stats:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1) !important;
}
        
.footer-admin {
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #6c757d;
    padding: 25px 0; /* Espacio interno elegante */
    margin-top: auto; /* Esto lo empuja al fondo si hay poco contenido */
    margin-bottom: 5px !important; /* Un margen pequeño y controlado */
}

/* Elimina cualquier padding-bottom que le hayas puesto al body anteriormente */
body {
    padding-bottom: 0 !important;
}